.item-list-heading {
    font-weight: bold;
    font-size: 15px;
}

.thumb-card {
    width: 100%;
    height: 280px;
    overflow: hidden;
    background: var(--gray);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 40px #000 inset;
}

.thumb-card * {
    transition: 0.2s;
}

.thumb-details {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.99) 65%, #00000020);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.thumb-card img {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
}

.main-thumb-title {
    font-size: 25px;
    margin: 1rem;
    width: max-content;
}

.main-thumb-over {
    margin: 0;
    margin-left: 1rem;
    width: 70%;
    height: 60%;
    overflow: hidden;
    /* width: max-content; */
}

.item-list {
    padding: 1rem;
    padding-bottom: 0.4rem;
    height: 280px;
    position: relative;
}

.body-contents {
    margin-top: 0.3rem;
}

.item-list-box {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.item-card-box {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.main-thumb-btn {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.play-card-btn {
    margin: 0.3rem !important;
    padding: 0.3rem 1rem !important;
    /* background: var(--darkblue) !important; */
}

/* .rate-card-btn {
    background: transparent !important;
} */

.scroll-btn {
    opacity: 0;
    transition: 0.4s;
}

.item-list:hover .scroll-btn {
    opacity: 100%;
}

.loading {
    background: linear-gradient(145deg, #aaaaaa90, #aaaaaa30) !important;
    animation: loading 1s infinite;
    box-shadow: 0 0 0 0;
}

@keyframes loading {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100px;
    }
}
.loading * {
    visibility: hidden;
}

.scroll-btn-left {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: none;
    outline: none;
    left: 10px;
    width: 2rem;
    height: 2rem;
    opacity: 90%;
    transform: translate(0, -50%);
}

.scroll-btn-right {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: none;
    outline: none;
    right: 5px;
    width: 2rem;
    height: 2rem;
    opacity: 80%;
    transform: translate(0, -50%);
}

.scroll-btn-left:hover,
.scroll-btn-right:hover {
    background: var(--darkblue);
    color: #fff;
}

.scroll-btn-left ion-icon,
.scroll-btn-right ion-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-card {
    background-color: transparent;
    padding: 0.2rem;
    border-radius: 10px;
    min-width: 140px;
    min-height: 200px;
    width: 140px;
    height: 200px;
    margin: 0.2rem;
    transition: 0.5s;
}

.item-card:hover {
    background-color: var(--gray);
    transform: scale(1.02);
}

.item-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media screen and (min-width: 1500px) {
    .thumb-card img {
        position: absolute;
        right: 0%;
        top: 45%;
        transform: translate(0%, -50%);
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .thumb-details {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.99) 50%,
            #00000020
        );
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 650px) {
    .item-card {
        min-width: 100px;
        min-height: 140px;
        width: 100px;
        height: 140px;
    }

    .item-card-box::-webkit-scrollbar {
        display: none;
    }

    .item-list {
        height: 240px;
    }

    .thumb-card {
        width: 100%;
        height: 200px;
        overflow: hidden;
        background: var(--gray);
        border-radius: 10px;
        position: relative;
    }

    .thumb-details {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.99) 40%,
            #00000020
        );
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .thumb-card img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .main-thumb-title {
        margin: 0.8rem;
        font-size: 20px;
    }

    .main-thumb-over {
        margin-left: 0.8rem;
        width: 80%;
        font-size: 14px;
        overflow: hidden;
        height: 99px;
    }
}
