@import url("colors.css");
@import url("navbar.css");
@import url("card.css");
@import url("tag.css");
@import url("menubox.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");

body {
    background: var(--background-color);
    overflow: hidden;
    margin: 0;
    color: var(--color);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    background: #aaaaaa00;
    border-radius: 10px;
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #aaaaaa20;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa90;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    display: none;
}

* {
    font-family: "Nunito", sans-serif;
    /* border: 0.1px solid red; */
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none !important;
}

ion-icon {
    --ionicon-stroke-width: 16px;
}

.btn {
    padding: 0.3rem 0.7rem;
    margin: 0.1rem;
    color: var(--color);
    background-color: var(--gray);
    border: none;
    border-radius: 2px;
    transition: 0.3s;
}

.btn ion-icon {
    margin-right: 0.3rem !important;
}

.btn:hover {
    transform: scale(1.02);
}

.blue-btn-hvr:hover {
    /* background-color: var(--background-color) !important; */
    background-color: var(--darkblue) !important;
    color: var(--color) !important;
}

.yellow-btn-hvr:hover {
    background-color: var(--yellow) !important;
    color: var(--color) !important;
}

.blue-btn-hvr-color:hover {
    /* color: var(--background-color) !important; */
    color: var(--darkblue) !important;
}

.yellow-btn-hvr-color:hover {
    color: var(--yellow) !important;
}